 .card-effect {
     transition: all 0.3s ease-out;
 }

 .card-effect:hover {
     transform: translateY(-5px) scale(1.005) translateZ(0);
     box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
         0 24px 46px var(--box-shadow-color);
 }

 .card-effect:hover .overlay {
     transform: scale(4) translateZ(0);
 }

 .card-effect:hover .circle {
     border-color: var(--bg-color-light);
     background: var(--bg-color);
 }

 .card-effect:hover .circle:after {
     background: var(--bg-color-light);
 }